In [5]:
import os, math
import numpy as np
import pandas as pd


def check_prereqs():
    if layers:
        if 'X' not in df.columns:
            raise Exception('Centroid box not checked in ImageJ')

def segmentbyXY(axis, thr):
    column = df[axis]
    maximum = column.max()
    numlayer = math.floor(maximum / thr) + 1 # To get last partial layer
    
    thrarray = [i*thr for i in range(numlayer+1)] # Values are minimum X or Y
    result = np.zeros(numlayer, dtype=np.int64)
    for i in range(numlayer):
        result[i] = column[(column > thrarray[i]) & (column < thrarray[i+1])].values.size
    return result
    

directory = "/home/eroglulab/Desktop/Combi/Olg2Sox9"

layers = True
first = True
f = open(directory + "/" + "Output.txt", 'w')

f.write("Name\tTotal\tLayer1\tLayer2\n")

for file in os.listdir(directory):
    if file.endswith(".csv") and file.startswith("Cut"):
        df = pd.read_csv(directory + "/" + file)
        df.drop(df.columns[0], axis='columns', inplace=True) # Remove count column
        
        if first:
            bigdf = pd.DataFrame
            check_prereqs()

        f.write(file + "\t")
        f.write(str(df.count()[0]) + "\t")
        output = segmentbyXY('Y', 150)
        
        for i in range(len(output)):
            f.write("{:d}".format(output[i]) + "\t")
        f.write("\n")        
f.close()

In [13]:
import os, math
import numpy as np
import pandas as pd

directory = "/media/eroglulab/Chaichontat/New folder/Combi/Sox9/Cut"
file ="Seg_Sox9_1529-31830-13092.tif.csv"

df = pd.read_csv(directory + "/" + file)
df.drop(df.columns[0], axis='columns', inplace=True) # Remove count column

In [19]:
bigdf = pd.DataFrame(columns=['Name', 'Counts'])

In [8]:
total = df.size # Total count

In [21]:
colset = ['Name', 'Counts']

In [19]:
df.count()[0]

180

In [22]:
bigdf.append(pd.DataFrame([file, total], columns=colset), ignore_index=True)

ValueError: Shape of passed values is (1, 2), indices imply (2, 2)

In [56]:
bigdf[bigdf.size] = pd.Series([file,total])

In [57]:
bigdf

,Name,Counts,2,3
0,Olg2_Stitched_DEP30.9_P8FWT_488Olg2_594NeuN_64...,339,Olg2_Stitched_DEP30.9_P8FWT_488Olg2_594NeuN_64...,Olg2_Stitched_DEP30.9_P8FWT_488Olg2_594NeuN_64...

In [50]:
bigdf.to_csv(index=False)

'Name,Counts\nOlg2_Stitched_DEP30.9_P8FWT_488Olg2_594NeuN_647Sox9_ACC23_P1_A01_G001.tif.csv,339\n'

In [46]:
df

     Area         X        Y
0      87   670.546    4.397
1      85  1005.829   20.794
2     120   603.642   22.308
3      98   788.673   27.959
4     112   714.321   32.804
5      97   828.067   40.407
6     110   901.918   40.264
7     142   758.789   50.620
8     136   920.125   48.728
9      99   607.227   53.126
10     64   677.453   58.422
11    118   927.415   66.415
12    130   975.623   70.108
13    121   789.550   95.847
14    113   486.748  100.969
15     55   523.355  103.791
16     72   847.583  108.458
17     87   865.328  112.190
18    135   567.841  118.589
19     58   451.569  122.190
20    107   687.995  123.921
21    103   786.257  162.257
22    171   811.500  173.482
23    105   754.281  177.852
24    101   765.262  195.252
25    133   858.665  197.944
26    118   612.246  211.127
27    112   686.464  214.250
28    117   570.372  216.132
29    120   413.808  219.158
..    ...       ...      ...
83    108   525.222  632.019
84    111   405.293  635.527
85    144   164.521  640.924
86    118   593.686  638.085
87    137   246.894  642.252
88    118   396.636  649.102
89     86   344.860  659.651
90     97   229.418  666.057
91    158   460.348  667.380
92    118   601.339  670.814
93    113   281.544  672.845
94    105   480.767  683.976
95    107   387.780  692.734
96    108   478.102  716.991
97    134   338.261  716.358
98     96   121.729  716.490
99     89   466.983  718.904
100    83   114.054  724.681
101    85   306.982  727.324
102    52   100.308  734.192
103   119   367.399  737.592
104   159   393.009  752.381
105   110   270.664  777.664
106   160   226.488  779.281
107   157   357.309  800.589
108   157   402.373  823.124
109   144   108.660  830.861
110   111   321.257  833.752
111    75   334.873  837.820
112   130   421.946  843.569

[113 rows x 3 columns]